/* src/styles/app.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #2f855a;
  padding: 20px;
  text-align: center;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
